//main: ../style.less
.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  font-family: @monserat;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: @blue;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    @media @mobile{
      font-size: 0.9rem;
      padding: 0.5rem 0.5rem;
    }
  &:hover {
    background-color: transparent;
    color: @blue;
    border: 3px solid @blue;
    box-shadow: 0 0 5px @blue;
  }
  &--submit {
    border: none;
    padding: 0.5rem 0.5rem;
    width: 35%;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      border: 1px solid @blue;
    }
  }
}
