//main: ../style.less
.gallery__bg {
  background: url(../img/gallery/galley_bg.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.gallery__content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  @media @mobile-sm {
    margin: 1rem 0;
  }
  a {
    display: block;
    width: 30%;
    margin: 1rem;
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      background: transparent url(../img/gallery/icon/eye-icon.png) no-repeat
        center;
      position: absolute;
      z-index: 2;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
      -webkit-transition: visibility 0.4s linear;
      transition: visibility 0.4s linear;
    }
    &:hover {
      &:after {
        visibility: visible;
      }
    }
  }
}
