//main: ../style.less
.intro__content {
  margin-top: 2rem;
}
.intro__bg {
  position: relative;
  width: 100%;
  height: auto;
}
.bg__text {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 40%;
  @media (min-width: 1420px) {
    top: 25%;
  }
  @media @tablet {
    width: 55%;
    left: 2%;
  }
  @media @mobile {
    width: 60%;
    top: 5%;
    left: 0;
  }
  @media @mobile-sm {
    width: 100%;
  }
}
.intro__title {
  font-size: 3.2rem;
  font-family: @monserat;
  color: @gray;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 2rem;
  @media @notebook {
    font-size: 2.8rem;
    margin-bottom: 1.7rem;
  }
  @media @tablet {
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }
  @media @mobile {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  @media @mobile-sm {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.intro__subtitle {
  font-size: 1.1rem;
  color: rgba(@gray, 0.8);
  line-height: 1.765;
  font-weight: 400;
  margin-bottom: 2rem;
  @media @tablet {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
  }
  @media @mobile {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  @media @mobile-sm {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
