//main: ../style.less
.section__header {
  width: 60%;
  margin: 0 auto;
  h2 {
    font-size: 3rem;
    font-family: @monserat;
    color: rgba(@gray, 1);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1.1rem;
    color: rgba(@gray, 0.8);
    line-height: 1.5;
  }
}
